
     <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font/flaticon.css">
</head>
<body>
    {{> header}}
    <main>
        <section class="grid-container blogpost-img-container">
            <img src="assets/img/banner2.jpg" alt="">
        </section>
        <section class="blogpost-main-container">
            <div class="grid-container">
                <h3>Noticias</h3>
                <article>
                    <h1>Conoce nuestro nuevo sitio</h1>
                    <p>Experiencias que sorprenden para bien! Ahora el guía podes ser vos!</p>
                    <p>Viaja con tranquilidad y disfruta de las mejores vacaciones</p>
                    <p>Podes dar la vuelta al mundo sumando uno a uno todos los lugares de tu lista</p>
                </article>
            </div>
        </section>
        <section class="contact-main-container">
            <div>
                <img src="assets/img/013-newsletter.png" alt="">
                <div class="contact-left">
                    <a href="/">Contacto</a>
                    <p>viajamas@gmail.com.</p>
                </div>
            </div>
            <div>
                <img src="assets/img/006-like.png" alt="">
                <div class="contact-right">
                    <a href="/">Escribe</a>
                    <p>Cuales son  tus lugares favoritos.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Viví tu propia aventura</p>
    </footer>
</body>
</html>