
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font/flaticon.css">
</head>
<body>
    {{> header}}
    <main class="blogs-main">
        <section class="blogs-news-container">
            <div class="grid-container blogs-main-new">
                <h3>Naturaleza</h3>
                <div class="blogs-news-img-container">
                    <img src="assets/img/banner4.jpg" alt="">
                </div>
                <div class="blogs-news-info-container">
                    <h2>Disfruta del invierno</h2>
                    <p>Visita las mejores reservas y bosques del sur argentino</p>
                    <a href="/blog" class="blogs-button">Leer más</a>
                </div>
            </div>
        </section>
        <section class="blogs-posts-container">
            <div class="grid-container">
                <h3></h3>
                <article class="post-container">
                    <img src="assets/img/banner5.jpg" alt="">
                    <p>Contactanos desde donde estes!</p>
                    <p>Se parte de nuestra comunidad de viajeros..</p>
                    <a href="blog" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/banner3.jpg" alt="">
                    <p>Las mejores rutas</p>
                    <p>Lugares recomendados para descubrir.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-3.png" alt="">
                    <p>Tecnologia</p>
                    <p>Para que empieces a planear ya tus proximas vacaciones.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-2.png" alt="">
                    <p>Cursos de Idiomas</p>
                    <p>Te brindamos las mejores herramientas .</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-1.png" alt="">
                    <p>Actualizate</p>
                    <p>Todas las ultimas Novedades.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/profile-pic.jpg" alt="">
                    <p>Intercambios en el extranjero</p>
                    <p>Culturales y de estudio.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
            </div>
        </section>
    </main>
 {{> footer}}
</body>
</html>